form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

input {

    border: 3px solid rgb(2, 2, 2);
    border-radius: 10px;
    width: 20vw;
}

label {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4px;
}

.btn1 {
    margin: 0.4rem;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.945);
    background-color: rgba(250, 123, 106, 0.945);
    border-radius: 5px;
}

.btn1:hover {
    background-color: rgba(9, 8, 8, 0.945);
    color: aliceblue;
    cursor: pointer;
}